# ide
.vscode
.idea

# python
**/__pycache__

# some private dir data
data
logs
mock
experiment
build
dist
scripts
output
private

# some file
**/test_private_*.xml
**/test_private_*.py
**/*private*
*.lock

